@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600&display=swap');
@import url('./variables.css');

.aboutContainer {
  display: flex;
  height: 110vh;
  justify-content: space-around;
  background-color: $darkgrey;
  font-size: 2em;
  color: $white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.main {
  align-self: center;
  width: 30vw;
  
  h2 {
    margin-bottom: 1rem;
    letter-spacing: .25ch;
  }

  p {
    font-size: .9em;
    line-height: 1.5;
  }
}

.sideCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side {
  width: 30vw;

  h2 {
    margin-bottom: 1rem;
    letter-spacing: .25ch;
  }

  p {
    font-size: .8em;
    line-height: 1.5;
  }
}
