@import url('./variables.css');

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 20vh;

    a {
      color: white;
      padding: 4rem;
      font-size: 3em;
    }
}
