@import url('./variables.css');

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

    a {
      display: inline-block;
      font-size: 1.7em;
      color: $text;
      text-decoration: none;
    }

  }
  
  .home {
    margin-left: $header-side-margin;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    margin-right: $header-side-margin;
    width: 8%;
  }

  .work {
    display: flex;
    justify-content: space-between;
    background-color: $lightgrey;
    padding: 0 $header-side-margin;

    h1 {
      display: inline-block;
      font-size: 8em;
    }
  }
