@import url('./variables.css');

.landingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  margin-top: 1rem;
  background-color: $lightgrey;
}

.greeting {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.message {
  position: relative;
  left: -17.5rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 110%;
  background-color: $red;
  
  p {
    font-size: 2em;
    line-height: 2;
    color: $white;
    padding-right: 13rem;
  }
}

@media (max-width: 320px) {
  .landingPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    margin-top: 0rem;
    background-color: $red;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    padding-bottom: 3rem;
    background-color: $red;
    
    p {
      font-size: 1.7em;
      line-height: 1.8;
      color: $white;
      padding-right: 0rem;
    }
  }

  .greeting {
    display: none;
  }
}

@media (max-width: 414px) {
  .landingPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    margin-top: 0rem;
    background-color: $red;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    padding-bottom: 3rem;
    background-color: $red;
    
    p {
      font-size: 1.7em;
      line-height: 1.8;
      color: $white;
      padding-right: 0rem;
    }
  }

  .greeting {
    display: none;
  }
}
